    <div class="acr-box">
            <h6 class="mb-3">My Documents</h6>
            @if(documents && documents.length > 0){
                @for (item of documents; track item) {
                    <div class="bg-darkgrey acr-box mb-2 mt-2 bl-info">
                        <div class="d-flex-between">
                            <p>{{ item.name }}</p>
                            <div class="d-flex">
                                <a [href]="item.document" target="_blank" class="btn btn-sm btn-acrylic">
                                    <img src="assets/images/icons/eye.svg" alt="side_icon" width="16" height="16">
                                </a>
                                <button acrylicFileDownload [appFileDownload]="item.document" class="btn btn-sm btn-acrylic mx-2">
                                    <img src="assets/images/icons/download.svg" alt="side_icon" width="16" height="16">
                                </button>
                                <button class="btn btn-sm btn-acrylic" (click)="deleteDocument(item.uuid)">
                                    <img [src]="'assets/images/icons/delete.svg'" height="15" width="15" />
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
            @else {
                <div class="bg-darkgrey acr-box mb-2 mt-2 bl-danger">
                    <p>No documents were found.</p>
                </div>
            }
    </div>