<section>
    <div class="row">
        <div class="col-12">
            <div class="acr-box">
                <h6>Assign Price to Your Track</h6>
                <p>All tracks are assigned Basic by default</p>
                <a class="a-blue small">How do prices work?</a>
                <div class="row p-2 mt-2">
                    @for(price of prices; track price){
                    <div class="col-md-6 col-12 mb-2 px-1">
                        <div class="bg-light-gray p-3 radius-5 cursor-pointer"
                            [class.card-beige-border]="selectedPrice!.uuid === price.uuid"
                            (click)="selectedPrice = price;">
                            <h6 class="text-beige">{{price.name}}</h6>
                            <p class="mt-3">{{price.description}}</p>
                            <div class="line bg-lightgray-border my-3"></div>
                            <div class="acr-box bg-light-gray text-center">
                                <p class="mb-0 text-light-gray">Available:</p>
                                @if(price.available_tracks != 0){
                                <p>{{price.available_tracks}}</p>
                                }
                                @else{
                                    <p>{{price.available_tracks}}/{{price.max_artist_tracks}}</p>
                                }
                            </div>
                            <button class="btn btn-info mt-3 h-50px w-100">
                                Price: From ${{price.min_price}} to ${{price.max_price}}
                            </button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="my-4">
        <div class="row gap-2">
            <div class="col-12">
                <div class="row justify-content-center gy-2">
                    <div class="col-md-5 col-12 text-end">
                        <button class="btn btn-acrylic px-4 px-lg-5 py-2 light-gray-border"
                            (click)="nextUploadStepper(4)">Back</button>
                    </div>
                    <div class="col-md-7 col-12">
                        <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border" [disabled]="!form.valid"
                            data-bs-toggle="modal" data-bs-target="#confirm-upload">Publish Track</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="confirm-upload" data-bs-backdrop="static">
    <acrylic-confirm-upload [selectedPrice]="selectedPrice" (actionTaken)="actionTaken($event)"></acrylic-confirm-upload>
</div>
<div class="modal fade" id="live-upload" data-bs-backdrop="static">
    <acrylic-live-upload></acrylic-live-upload>
</div>