.loader {
    border: 3px solid var(--warning-color);
    border-radius: 50%;
    border-top: 3px solid transparent;
    width: 18px;
    height: 18px;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
