<div class="acr-box mt-4">
    <p>Authentication</p>
    <div class="row mt-0 flex-column gy-3">
        <div class="col-md-6">
            <label for="profile-email" class="acr-input-label">Email</label>
            <input type="text" id="profile-email" class="form-control acr-input" placeholder="Email">
        </div>
        <div class="col-md-6">
            <label for="profile-password" class="acr-input-label">Password</label>
            <div class="acr-input-group py-0">
                <input type="text" id="profile-password" class="form-control acr-input" placeholder="Password">
                <button class="btn btn-acrylic bg-switch-off px-4 py-2 light-gray-border text-nowrap">Change Password</button>
            </div>
        </div>
    </div>
</div>
<div class="acr-box mt-4">
    <p>Authentication</p>
    <div class="row mt-0 flex-column gy-3">
        <div class="col-md-6">
            <label for="profile-account" class="acr-input-label">Google Account</label>
            <div class="acr-input-group py-0">
                <input type="text" id="profile-account" class="form-control acr-input" placeholder="Google Account">
                <button class="btn btn-acrylic bg-switch-off px-4 py-2 light-gray-border text-nowrap">Switch to email and password</button>
            </div>
        </div>
    </div>
</div>