<div class="d-flex justify-content-between p-2">
    <div>
        <button class="btn bg-light-gray text-primary" (click)="previousPage()">&lt;</button>
        <span class="p-2"> {{ totalPage ? currentPage : 0 }} of {{ totalPage }}</span>
        <button class="btn bg-light-gray text-primary" (click)="nextPage()">&gt;</button>
    </div>
    <div class="col-1">
        <acrylic-custom-dropdown [showSearch]="false" inputValue="5"
            [values]="paginationDrpOptions" (dropdownSelected)="onPageChange($event)" [className]="'h-35'"></acrylic-custom-dropdown>
    </div>
</div>