<section>
    <div class="acr-box">
        <div class="row mb-3">
            <div class="col-xxl-4 col-xl-3 col-md-6">
                <div class="acr-input-group" [formGroup]="searchForm">
                    <img ngSrc="assets/images/icons/search-info.svg" width="20" height="20">
                    <input type="text" formControlName="searchText" class="w-100"
                        placeholder="Search for a specific track" (input)="searchChanges()">
                </div>
            </div>
            <div class="col-xxl-8 col-xl-9 col-md-6 d-flex justify-content-end">
                <button class="btn me-1 btn-info" (click)="_navigationService.navigateToUploadTrack()">Upload
                    Track</button>
            </div>
        </div>
        <div class="light-gray-table-border rounded-2">
            <table class="acrylic-table">
                <thead>
                    <tr>
                        <th scope="col">Track Name</th>
                        <th scope="col">Assigned Tags</th>
                        <th scope="col">Price Tag</th>
                        <th scope="col">Preview</th>
                        <th scope="col">Release Date</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of trackList; track item) {
                    <tr>
                        <td>
                            <div class="d-md-flex align-items-md-center gap-2">
                                <img [src]="item.cover_image ? item.cover_image : 'assets/images/others/default.jpg'"
                                    height="36" width="36" class="radius-5" />
                                <div>
                                    <p class="m-0">{{ item.name }}</p>
                                    <small>{{ item.isrc }}</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex gap-2">
                                @for(assignedTag of item.tags; track assignedTag) {
                                <span class="bg-light-gray px-2 py-1 radius-5">{{ assignedTag.name }}</span>
                                }
                            </div>
                        </td>
                        <td class="text-nowrap">
                            @if (item.price) {
                            <div class="clip-path-tag radius-5 p-2 d-flex-align-center gap-2"
                                [class.bg-lightgray-border]="item.price.name == 'Basic'"
                                [class.bg-blue]="item.price.name == 'Premium'">
                                <img [ngSrc]="'assets/images/others/beat.png'" height="20" width="15" />
                                <span>{{ item.price.name }}</span>
                                <span class="d-inline-block height-15px width-15px bg-secondary rounded-circle"></span>
                            </div>
                            }
                        </td>
                        <td>
                            @if(item.file_wav){
                            <audio [src]="item.file_wav" controls></audio>
                            }
                        </td>
                        <td>
                            <span>{{ item.released }}</span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-sm btn-acrylic" (click)="openTrack(item.uuid)">Edit Track</button>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td class="text-center" colspan="7">
                            No data available
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <acrylic-pagination [tableData]="trackList" [totalPages]="totalCount" (pageChange)="onPageChange($event)">
            </acrylic-pagination>
        </div>
    </div>
</section>