<section>
    <div class="row mt-3 mt-md-0">
        <div class="col-lg-8 col-12">
            <div class="row">
                @for(item of homeDataList; track item) {
                <div class="col-12" [ngClass]="['col-md-' + calculateColumnSizes(homeDataList.length)[$index]]">
                    <div>
                        <a [href]="item.url" target="_blank">
                            <img [src]="item.image" class="img-card object-fit-cover" height="200" />
                        </a>
                        <div class="my-md-3 my-2">
                            <div>{{ item.title }}</div>
                            <a [href]="item.url" target="_blank" class="text-decoration-none">
                                <small class="text-info-success pt-2">{{ item.link_text }}</small>
                            </a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="col-lg-4 col-12 d-flex flex-column gap-3">
            @if (myArtist) {
            <div class="w-100">
                <div class="radius-5 bg-img" acrylicBackgroundImage [backgroundImage]="myArtist.background_image">
                    <div class="position-relative d-flex-align-center">
                        <img [src]="myArtist.image" width="84" />
                        <h5 class="fs-4 mb-0">{{ myArtist.name }}</h5>
                    </div>
                </div>
            </div>
            }

            @if(latestSyncs.length > 0){
            <div class="acr-box p-0 overflow-hidden">
                <div class="bg-lightgrey">
                    <div class="d-flex-align-center p-3">
                        <img src="assets/images/others/beat.png" class="me-2" />
                        <h6 class="mb-0">Latest Syncs</h6>
                    </div>
                    <div class="d-flex-between py-2 px-3 bg-light-gray">
                        <small class="text-info-success">Synclist Name</small>
                    </div>
                </div>
                <ul class="ps-0 mb-0">
                    @for (item of latestSyncs; track item) {
                    <li class="menu-list list-group-item">
                        <div class="py-2 px-3">
                            <span class="d-flex-align-center">
                                <span class="me-2">
                                    <span class="me-2">
                                        @if(item.cover_image){
                                        <img [src]="item.cover_image" width="36" height="36" />
                                        }
                                        @else {
                                        <img src="assets/images/others/default.jpg" width="36" height="36"
                                            class="mx-2 my-1" />
                                        }
                                    </span>
                                </span>
                                <span>{{item.name}}</span>
                            </span>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            }

            @if(newArtists.length > 0){
            <div class="acr-box p-0 overflow-hidden">
                <div class="bg-lightgrey">
                    <div class="d-flex-align-center p-3">
                        <img src="assets/images/others/beat.png" class="me-2" />
                        <h6 class="mb-0">New Artists</h6>
                    </div>
                    <div class="d-flex-between py-2 px-3 bg-light-gray">
                        <small class="text-info-success">Artist Name</small>
                        <small class="text-info-success">Total Uses</small>
                    </div>
                </div>
                <ul class="ps-0 mb-0">
                    @for (item of newArtists; track item) {
                    <li class="menu-list list-group-item">
                        <div class="d-flex-between py-2 ps-2 pe-3">
                            <span class="d-flex-align-center">
                                <span class="me-2">
                                    @if(item.image){
                                    <img [src]="item.image" width="36" height="36" />
                                    }
                                    @else {
                                    <img src="assets/images/others/default.jpg" width="36" height="36"
                                        class="mx-2 my-1" />
                                    }
                                </span>
                                @if(item.name){
                                <span>{{item.name}}</span>
                                }
                                @else{
                                <span class="text-warning">Not Available</span>
                                }
                            </span>
                            <div>{{item.kamrank}}</div>
                        </div>
                    </li>
                    }
                </ul>
            </div>
            }
        </div>
    </div>
</section>