<div>
    <acrylic-custom-dropdown [loading]="splitSheetLoading" [title]="'My Split Sheet'" [placeholder]="'Search split sheet by name or ISRC'"
        [noDataLabel]="'No matching split sheet found'" [applyLocalFilter]="false" [inputValue]="form.get('isrc')?.value"
        [values]="splitNames" [required]="true"
        (searchChanged)="searchTrack($event)"
        (dropdownSelected)="dropdownSelected($event)"></acrylic-custom-dropdown>
</div>
<div class="mt-2">
    <p class="small">Don’t have a split sheet? <span (click)="_navigationService.navigateToCreateSplitSheet()" class="text-warning cursor-pointer">Create one here</span></p>
</div>
@if (selectedSplitSheet) {
<div class="acr-box mt-4">
    <div class="row">
        <div class="col-12">
            <h6>Splits</h6>
        </div>
        <div class="col-lg-6 col-12">
            <div class="acr-box acr-sub-box">
                <p class="m-1">Publishing Splits</p>
                <div>
                    <ul class="split-list list-group">
                        <li class="list-group-item border-0 text-info-success d-flex-justify-between bg-light-gray p-3">
                            <small>Name</small>
                            <small>%</small>
                        </li>
                        @for(item of selectedSplitSheet.publishing_splits; let i = $index; track item) {
                        <li class="list-group-item border-0 d-flex-justify-between p-3 text-primary"
                            [class.selected]="i == 0">
                            <span>{{ item.name }}</span>
                            <span>{{ item.percent }}</span>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12">
            <div class="acr-box acr-sub-box">
                <p class="m-1">Master Splits</p>
                <div>
                    <ul class="split-list list-group">
                        <li class="list-group-item border-0 text-info-success d-flex-justify-between bg-light-gray p-3">
                            <small>Name</small>
                            <small>%</small>
                        </li>
                        @for(item of selectedSplitSheet.master_splits; let i = $index; track item) {
                        <li class="list-group-item border-0 d-flex-justify-between p-3 text-primary"
                            [class.selected]="i == 0">
                            <span>{{ item.name }}</span>
                            <span>{{ item.percent }}</span>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="row gap-2 mt-4">
    <div class="col-12">
        <div class="row justify-content-center gy-2">
            <div class="col-lg-4 col-md-5 col-12 text-end">
                <button class="btn btn-acrylic px-4 px-lg-5 py-2 light-gray-border"
                    (click)="_navigationService.navigateToMyTracks()">Cancel</button>
            </div>
            <div class="col-lg-4 col-md-5 col-12">
                <button class="btn btn-info px-4 px-lg-5 py-2 light-gray-border" [disabled]="!form.get('isrc')?.value"
                    (click)="nextUploadStepper(2)">Next</button>
            </div>
        </div>
    </div>
</div>