<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body bg-darkgrey radius-5 p-0">
            <div class="p-3">
                <div class="d-flex-justify-between align-items-center px-2">
                    <h6 class="mb-0">Your Track Is Live!</h6>
                    <button class="bg-transparent border-0" data-bs-dismiss="modal"><img
                            ngSrc="/assets/images/icons/close.svg" alt="close" width="20" height="20" /></button>
                </div>
                <div class="text-center w-100 mt-3">
                    <img ngSrc="/assets/images/others/camaleon.svg" height="244" width="434"
                            class="img-fluid radius-5" />
                </div>
                <p class="my-3 text-center">Congratulations! Your track is now live and accessible globally.</p>
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <button class="btn-lightgray radius-5 w-100 py-2 light-gray-border"
                            (click)="_navigationService.navigateToHome()" data-bs-dismiss="modal">Go to Home</button>
                    </div>
                    <div class="col-lg-6 col-12">
                        <button class="btn-info radius-5 w-100 py-2 light-gray-border"
                            (click)="_navigationService.navigateToMyTracks()" data-bs-dismiss="modal">Go To My
                            Tracks</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>