$off-container-color: var(--switch-off-container-color);
$secondary-color: var(--secondary-color);
$info-color: var(--info-color);
$transition-time: 0.4s;

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: $info-color;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $info-color;
    }

    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $off-container-color;
    transition: $transition-time;

    &:before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      left: 4px;
      bottom: 2px;
      background-color: $secondary-color;
      transition: $transition-time;
    }

    &.round {
      border-radius: 30px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
