<div class="acrylic-select-box">
    @if (title) {
    <div class="acr-input-label" [ngClass]="{'required': required}">{{ title }}</div>
    }
    <div class="acrylic-select w-100 cursor-pointer position-relative" (click)="isActive = !isActive">
        <div class="select-btn d-flex-between bg-darkgrey h-50px px-3 radius-5 " [class]="className"
            [ngClass]="{'rounded-bottom-0': isActive}">
            <span [ngClass]="{'dropdown-placeholder': !selectedValue}">{{ selectedValue ? selectedValue : placeholder
                }}</span>
            <span class="select-down-arrow height-15px width-15px"></span>
        </div>
        <div class="content bg-switch-off radius-5 rounded-top-0 position-absolute w-100 z-3"
            [ngClass]="{'d-none': !isActive, 'd-block': isActive}">
            @if (showSearch) {
            <div class="acrylic-select-search p-2" (click)="handleItemClick($event)">
                <form [formGroup]="searchForm">
                    <div class="acr-input-group w-100">
                        <img ngSrc="assets/images/icons/search-info.svg" width="20" height="20">
                        <input type="text" placeholder="Search" class="w-100" (input)="searchChanges()"
                            formControlName="searchText">
                    </div>
                </form>
            </div>
            }
            @if (loading) {
            <div class="d-flex-center py-1 mb-2">
                <div class="loader"></div>
            </div>
            } @else {
            <ul class="acrylic-select-options overflow-y-auto p-0 mb-2">
                <ng-container>
                    @for(item of values | acrylicSearchFilter: (applyLocalFilter ? searchForm.value.searchText : ''); track item.name) {
                    <li (click)="updateName(item)" class="px-3 py-1" [ngClass]="{'list-unstyled d-flex-between' : item.text}"
                        [class.selected]="item.name === selectedValue">
                        <span>{{ item.name }}</span>
                        @if (item.text) {
                        <span class="bg-light-gray px-2 py-1 radius-5 small">{{ item.text }}</span>
                        }
                    </li>
                    }
                </ng-container>
                <ng-container>
                    @if((values | acrylicSearchFilter: (applyLocalFilter ? searchForm.value.searchText : '')).length === 0) {
                    <li class="list-unstyled ps-3 py-2 text-center">{{noDataLabel}}</li>
                    }
                </ng-container>
            </ul>
            }
        </div>
    </div>
</div>