<!-- <div class="acr-box p-1 d-inline-flex">
    <ul class="nav nav-pills">
        <li class="nav-item ms-2">
            <a class="btn btn-main h-100 d-flex-center fw-bold" href="javascript: void(0)">All Transactions</a>
        </li>
        <li class="nav-item ms-2">
            <a class="text-primary nav-link fw-bold" href="javascript: void(0)">Payout</a>
        </li>
        <li class="nav-item">
            <a class="text-primary nav-link fw-bold" href="javascript: void(0)">Fees</a>
        </li>
        </ul>
</div>
<div class="row g-3 mt-1">
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="acr-box">
            <h6>Some Data</h6>
            <div class="text-light-gray">
                <span>Jan 22, 2023 - </span>
                <span>Mar 1, 2024 </span>
            </div>
            <div class="d-flex mt-1">
                <span class="h3 fw-bold">$549K</span>
                <span class="text-success ps-1">+47.3%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="acr-box">
            <h6>Some Data</h6>
            <div class="text-light-gray">
                <span>Jan 22, 2023 - </span>
                <span>Mar 1, 2024 </span>
            </div>
            <div class="d-flex mt-1">
                <span class="h3 fw-bold">$549K</span>
                <span class="text-success ps-1">+47.3%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="acr-box">
            <h6>Some Data</h6>
            <div class="text-light-gray">
                <span>Jan 22, 2023 - </span>
                <span>Mar 1, 2024 </span>
            </div>
            <div class="d-flex mt-1">
                <span class="h3 fw-bold">$549K</span>
                <span class="text-success ps-1">+47.3%</span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12">
        <div class="acr-box">
            <h6>Some Data</h6>
            <div class="text-light-gray">
                <span>Jan 22, 2023 - </span>
                <span>Mar 1, 2024 </span>
            </div>
            <div class="d-flex mt-1">
                <span class="h3 fw-bold">$549K</span>
                <span class="text-success ps-1">+47.3%</span>
            </div>
        </div>
    </div>
</div>

<div class="acr-box mt-4">
    <div class="row g-2 mb-2">
        <div class="col">
            <acrylic-custom-dropdown placeholder="Date" class="my-track-select-box"></acrylic-custom-dropdown>
        </div>
        <div class="col">
            <acrylic-custom-dropdown placeholder="Amount" class="my-track-select-box"></acrylic-custom-dropdown>
        </div>
        <div class="col">
            <acrylic-custom-dropdown placeholder="Type" class="my-track-select-box"></acrylic-custom-dropdown>
        </div>
        <div class="col">
            <acrylic-custom-dropdown placeholder="Status" class="my-track-select-box"></acrylic-custom-dropdown>
        </div>
        <div class="col">
            <acrylic-custom-dropdown placeholder="Additional Filters" class="my-track-select-box"></acrylic-custom-dropdown>
        </div>
        
        <div class="offset-xl-1 col d-flex gap-2 align-self-center justify-content-end">
            <button class="btn btn-sm btn-info px-4">Export</button>
        </div>
    </div>
    <div class="light-gray-table-border rounded-2 table-responsive mt-4 mt-xl-0">
        <table class="acrylic-table">
            <thead>
                <tr>
                    <th scope="col" width="290">
                        <div class="d-flex-align-center">
                            <span class="me-3"><input type="checkbox" class="acrylic-checkbox"></span>
                            <span>Amount</span>
                        </div>
                    </th>
                    <th scope="col">Type</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-nowrap">
                        <div class="d-flex-align-center">
                            <span class="me-3"><input type="checkbox" class="acrylic-checkbox"></span>
                            <div class="me-3">
                                <span class="text-success fw-semibold">-$12337.3</span>
                                <span class="text-light-gray ps-1">USD</span>
                            </div>
                            <span class="tb-pill pending">Pending</span>
                        </div>
                    </td>
                    <td class="text-nowrap">
                        Payout
                    </td>
                    <td class="text-nowrap">
                        Pyt_dec23_24
                    </td>
                    <td class="text-nowrap">
                        -
                    </td>
                </tr>
                <tr>
                    <td class="text-nowrap">
                        <div class="d-flex-align-center">
                            <span class="me-3"><input type="checkbox" class="acrylic-checkbox"></span>
                            <div class="me-3">
                                <span class="text-danger fw-semibold">-$37.3</span>
                                <span class="text-light-gray ps-1">USD</span>
                            </div>
                            <span class="tb-pill pending">Pending</span>
                        </div>
                    </td>
                    <td class="text-nowrap">
                        Fee
                    </td>
                    <td class="text-nowrap">
                        Fee_dec23_24
                    </td>
                    <td class="text-nowrap">
                        Dec 25, 2024, 6:44 PM
                    </td>
                </tr>
                <tr>
                    <td class="text-nowrap">
                        <div class="d-flex-align-center">
                            <span class="pe-3"><input type="checkbox" class="acrylic-checkbox"></span>
                            <div class="me-3">
                                <span class="text-danger fw-semibold">-$37.3</span>
                                <span class="text-light-gray ps-1">USD</span>
                            </div>
                            <span class="tb-pill text-success info-bg-success">Succeeded</span>
                        </div>
                    </td>
                    <td class="text-nowrap">
                        Fee
                    </td>
                    <td class="text-nowrap">
                        Fee_dec23_24
                    </td>
                    <td class="text-nowrap">
                        Dec 25, 2024, 6:44 PM
                    </td>
                </tr>
                <tr>
                    <td class="text-nowrap">
                        <div class="d-flex-align-center">
                            <span class="pe-3"><input type="checkbox" class="acrylic-checkbox"></span>
                            <div class="me-3">
                                <span class="text-success fw-semibold">-$12337.3</span>
                                <span class="text-light-gray ps-1">USD</span>
                            </div>
                            <span class="tb-pill pending">Pending</span>
                        </div>
                    </td>
                    <td class="text-nowrap">
                        Fee
                    </td>
                    <td class="text-nowrap">
                        Fee_dec23_24
                    </td>
                    <td class="text-nowrap">
                        Dec 25, 2024, 6:44 PM
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->

<div class="acr-box text-warning fs-6">
    Transaction details will be available soon. Stay tuned for updates.
</div>