<section>
    <div class="row gy-3">
        <div class="col-xl-8 col-12 order-2 order-xl-1">
            @if(activeStepper == 2) {
            <acrylic-preview-split-sheet [reviewObject]="reviewObject" (backToSplitSheetForm)="backToSplitSheetForm()"
                (sendRequestToCreateSheet)="sendRequestToCreateSheet()">
            </acrylic-preview-split-sheet>
            } @else {
            <acrylic-create-split-sheet [createSplitSheetForm]="createSplitSheetForm" [reviewObject]="reviewObject"
                (reviewSheetData)="reviewSheet()">
            </acrylic-create-split-sheet>
            }
        </div>
        <div class="col-xl-4 col-12 order-1 order-xl-2">
            <div class="acr-box">
                <ul class="list-group acrylic-stepper">
                    @for(item of manageSplitStepperList; track item) {
                    <li class="list-group-item bg-transparent light-gray-border d-flex-align-center gap-2 cursor-pointer"
                        (click)="manageSplitStepper($index + 1)"
                        [ngClass]="{ 'current-active-stepper': activeStepper === $index + 1, 'completed-step': activeStepper > $index + 1}">
                        <span class="d-flex-center text-secondary fw-bold">{{ $index + 1 }}</span>
                        {{ item }}
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>