.sign-document {
    height: 420px;
    background-image: url('/assets/images/others/camaleon-auth.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-image: linear-gradient(180deg, #060606 0%, rgba(6, 6, 6, 0) 100%)
    fill 1;
}