<nav class="navbar navbar-expand-md" [ngClass]="_authService.IsLoggedIn() ? 'acr-box p-2':'auth-box'">
    <div class="container-fluid ">
        <a class="navbar-brand">
            <img ngSrc="assets/images/logos/acrylic-white.png" width="125" height="30" priority="true">
        </a>
        <button class="navbar-toggler bg-invert" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <div class="row w-100 mt-md-0 mt-3">
                @if(_authService.IsLoggedIn()){
                    <div class="col-12 d-flex justify-content-end align-items-center p-0 mt-lg-0 mt-2">
                        @if(_myArtistService.myArtist()?.image){
                            <a [routerLink]="['/my-profile/edit-profile']" title="Profile">
                                <img [ngSrc]="_myArtistService.myArtist()!.image" width="36" height="36">
                            </a>
                            <span class="mx-2">|</span>
                        }
                        <button class="btn btn-sm btn-acrylic" title="Sign Out" (click)="signOut();">
                            <img ngSrc="assets/images/icons/signout.svg" width="16" height="16">
                        </button>
                    </div>   
                }
                @else{
                    <div class="col-12 d-flex-align-center justify-content-end p-0">
                        <button class="btn btn-blue-grey px-md-4" (click)="_navigationService.navigateToSignUp();">
                            Sign Up
                        </button>
                        <button class="btn btn-main ms-2 px-md-4" (click)="_navigationService.navigateToSignIn();">
                            Sign In
                        </button>
                    </div>   
                }
            </div>
        </div>
    </div>
</nav>