<ng-container [formGroup]="subscriptionForm">
    <div class="acr-box mb-4">
        <div class="row d-flex-between">
            <div class="col-lg-6 col-10">
                <p class="h6">You are currently on Monthly package</p>
                <p class="mb-2">Lorem ipsum dolor sit amet consectetur.
                    A dictum eget vitae neque nisl feugiat tincidunt dignissim. Lorem ipsum dolor sit amet
                    consectetur.</p>

                <p class="mb-0 text-beige cursor-pointer">Switch to
                    Annual Package</p>
            </div>
            <div class="col-lg-6 col-2 text-end"><img src="assets/images/others/Colita.png" /></div>
        </div>
    </div>
    <div class="acr-box mb-4">
        <div class="d-flex-between mb-2">
            <p class="h6 mb-0">Invoice Settings</p>
            <button class="btn btn-acrylic px-4" [disabled]="subscriptionForm.invalid"
                (click)="saveSubscription()">Save</button>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="mb-3">
                    <input type="text" class="form-control acr-input mb-0" placeholder="Billing Email"
                        [formControlName]="'billing_email'">
                    <span class="text-light-gray small m-1">Invoices and receipts will be sent to this email
                        address</span>
                </div>

                <ng-container>
                    <textarea placeholder="Company Billing Profile" class="form-control acr-input mb-0 resize-none"
                        [formControlName]="'billing_details'"></textarea>
                    <span class="text-light-gray small m-1">Additional company information to be shown on invoices;
                        e. g. address, PO
                        number, etc.</span>
                </ng-container>

                <ng-container>
                    <div class="toggle-section my-4">
                        <p class="mb-0">Text notifications when payment fail</p>
                        <div class="my-2 d-flex-align-center">
                            <label class="switch">
                                <input type="checkbox" [formControlName]="'failed_payment_notifications'" checked>
                                <span class="slider round"></span>
                            </label>
                            <span id="toggleLabel" class="ps-2">Yes</span>
                        </div>
                        <div class="text-light-gray small m-1">We’ll notify you about billing issues. We’ll never call
                            or share your number.</div>
                    </div>
                </ng-container>


                <ng-container>
                    <p class="mb-2">Phone Number</p>
                    <div class="row">
                        <div class="col-6">
                            <acrylic-custom-dropdown
                                placeholder="Select country code"
                                [values]="countryCodes"
                                (dropdownSelected)="dropdownSelected($event)"
                                [noDataLabel]="'No country code found'"
                                class="my-track-select-box">
                            </acrylic-custom-dropdown>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control acr-input mb-0" placeholder="Phone Number"
                                [formControlName]="'phone'" maxlength="10">
                        </div>
                    </div>
                    <div class="text-light-gray small m-1">Be sure to include country code. Your wireless provider’s
                        standard messaging rates apply.</div>
                </ng-container>

                <ng-container>
                    <p class="mb-2 mt-4">Additional billing info</p>
                    <input type="text" class="form-control acr-input mb-0" placeholder="Tax ID"
                        [formControlName]="'tax_id'">
                    <div class="text-light-gray small m-1">Business with a valid Tax ID will not be subject to tax on
                        their
                        Acrylic package purchases.</div>
                </ng-container>
            </div>
        </div>
    </div>

    <!-- <div class="acr-box">
            <p class="h6 mb-2">All Invoices</p>
            <div class="row">
                <div class="col-lg-6 col-12">
                        <input type="text" class="form-control acr-input mb-0" placeholder="Tax ID">
                        <span class="text-light-gray small m-1">Business with a valid Tax ID will not be subject to tax on
                            their Acrylic package purchases. 
                        </span>
                </div>
            </div>
            <div class="mt-2">
                <div class="light-gray-table-border rounded-2 table-responsive mt-4 mt-xl-0">
                    <table class="acrylic-table">
                        <thead>
                            <tr>
                                <th scope="col">Invoice Date</th>
                                <th scope="col">Invoice Details</th>
                                <th scope="col">Total Charged</th>
                                <th scope="col">Invoice</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="text-nowrap">
                                    <span>Dec 2, 2024, 3:45 PM</span>
                                </td>
                                <td class="text-nowrap">
                                    <span>Fan package</span>
                                </td>
                                <td class="text-nowrap">
                                    <span>$9.99</span>
                                </td>
                                <td class="text-nowrap">
                                    <div>
                                        <button class="btn btn-sm btn-info px-3">
                                            Download PDF
                                        </button>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
</ng-container>