<form [formGroup]="resetPasswordForm">
    <h1 class="auth-tagline">Reset password</h1>
    <div class="acr-input-label required">New Password</div>
    <div class="position-relative">
        <input [type]="showPassword ? 'text' : 'password'" [formControlName]="'password'" class="form-control acr-input"
            placeholder="Enter Password" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');"
            acrylicPasswordValidator="password">
        <img ngSrc="assets/images/icons/{{ showPassword ? 'eye-slash.svg' : 'eye.svg' }}" class="eye-icon" width="16"
            height="16" (click)="showPassword = !showPassword">
    </div>

    <div class="acr-input-label my-3 small">
        <div
            [ngClass]="resetPasswordForm.get('password')?.errors?.['invalidPassword']?.requiredLength ? 'text-danger': 'text-success'">
            Your password must contain at least 8 characters.
        </div>
        <div
            [ngClass]="resetPasswordForm.get('password')?.errors?.['invalidPassword']?.hasLetter ? 'text-danger': 'text-success'">
            Your password must contain at least one letter.
        </div>
        <div
            [ngClass]="resetPasswordForm.get('password')?.errors?.['invalidPassword']?.hasNumber ? 'text-danger': 'text-success'">
            Your password must contain at least one number.
        </div>
        <div
            [ngClass]="resetPasswordForm.get('password')?.errors?.['invalidPassword']?.hasSpecialChar ? 'text-danger': 'text-success'">
            Your password must contain at least one special character.
        </div>
    </div>

    <button type="button" class="btn w-100 btn-main fw-bold h-50px" [disabled]="resetPasswordForm.invalid"
        (click)="resetPassword()">Reset Password
    </button>

    <div class="d-flex-center my-3">
        <div class="line"></div>
        <div class="mx-3">Or</div>
        <div class="line"></div>
    </div>

    <span>Return to</span>
    <a class="a-blue ms-2" (click)="_navigationService.navigateToSignIn();">Sign In</a>

</form>