<!-- <section>
    <div class="row gy-2">
        <div class="col-lg-7 col-12">
            @for(item of faqAccordionBox; track item) {
            <acrylic-custom-accordion [isOpen]="item.isOpen" (click)="toggleAccordion($index)"></acrylic-custom-accordion>
            }
        </div>
        <div class="col-lg-5 col-12">
            <acrylic-inquiry [inquiryTitle]="'Still Need Help?'" [inquirySelect]="inquirySelect"
                [inquiryTextArea]="'Inquiry'" [inquiryButton]="'Send Inquiry'"></acrylic-inquiry>
        </div>
    </div>
</section> -->

<div class="acr-box text-warning fs-6">
    FAQ & Help feature will be available soon. Stay tuned for updates.
</div>