@if (userLoggedIn) {
<div class="acr-box">
    <button [routerLink]="['/create-split-sheet']" class="btn btn-warning w-100 mb-2" routerLinkActive="btn-blue-grey">
        Sign Split Sheet
    </button>
    <button [routerLink]="['/upload']" class="btn btn-info w-100" routerLinkActive="btn-blue-grey">
        Upload Track
    </button>
</div>
}
<div class="acr-box" [class.mt-3]="userLoggedIn">
    <ul class="list-unstyled mb-0">
        @for (item of sidenavItems; track item) {
        @if (!item.submenu) {
        <li>
            <a class="p-2 w-100 d-inline-flex align-items-center text-primary text-decoration-none"
                (click)="collapseMenu()" [routerLink]="[item.routerLink]" routerLinkActive="active-route">
                <img [ngSrc]="'assets/images/icons/' + item.icon + '.svg'" alt="Icon" width="16" height="16">
                <span class="ms-2">{{item.label}}</span>
            </a>
        </li>
        }@else {
        <li (click)="toggleSubMenu(item)">
            <a class="p-2 w-100 d-inline-flex align-items-center text-primary text-decoration-none cursor-pointer">
                <img [ngSrc]="'assets/images/icons/' + item.icon + '.svg'" alt="Icon" width="16" height="16">
                <span class="ms-2">{{item.label}}</span>
            </a>
        </li>
        <div class="acr-box bg-darkgrey acr-submenu"
            [ngClass]="{'open': item.showSubMenu, 'closed p-0': !item.showSubMenu}">
            <ul class="ps-0 pe-0 p-2 bg-gray rounded-3">
                @for (sub of item.submenu; track sub ) {
                <li class="list-unstyled bg-light-gray mb-0">
                    <a class="p-2 w-100 d-inline-flex align-items-center text-primary text-decoration-none"
                        [routerLink]="[sub.routerLink]" routerLinkActive="active-route">
                        <span class="ms-2">{{sub.label}}</span>
                    </a>
                </li>
                }
            </ul>
        </div>
        }
        }
    </ul>
</div>