<div class="d-flex-center">
    <div id="google-btn"></div>
</div>
<!-- <button (click)="signInWithGoogle()" id="google-btn" class="btn w-100 btn-acrylic fw-semibold light-gray-border h-50px">
    <img src="assets/images/icons/google.svg"/>
    <span class="ms-2">Sign in with Google</span>
</button> -->
<!-- <button class="btn w-100 btn-acrylic fw-semibold light-gray-border h-50px mt-2">
    <img src="assets/images/icons/linked-in.svg"/>
    <span class="ms-2">Sign in with LinkedIn</span>
</button>
<button class="btn w-100 btn-acrylic fw-semibold light-gray-border h-50px mt-2">
    <img src="assets/images/icons/apple.svg"/>
    <span class="ms-2">Sign in with Apple</span>
</button> -->
