.bg-primary {
    border-radius: 80px 5px 80px 5px;
}

.slider {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px 0px 80px 0px;
    background-color: rgba(0,0,0,0.1);
}

#auth-carousel {
    .carousel-indicators {
        height: 5px;
        button {
            &.active {
                background-color: var(--beige-color);
            }
            &:not(.active) {
                opacity: 0.2;
            }
        }
    }
}

.auth-section {
    height: calc(100vh - 70px);
}

.auth-h-auto{
    height: 475px;
    max-height: 475px;
    overflow-y: auto;
}