<div class="acr-box mt-4">
    <p>Channels</p>
    <div class="row flex-column gy-3">
        <div class="col-md-6">
            <div class="toggle-section my-2">
                <p class="mb-0">In-App Notifications</p>
                <div class="my-2 d-flex-align-center">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <span id="toggleLabel" class="ps-2">On</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="toggle-section my-2">
                <p class="mb-0">Email Notifications</p>
                <div class="my-2 d-flex-align-center">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <span id="toggleLabel" class="ps-2">On</span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-acrylic px-4 px-lg-5 py-2 light-gray-border">Save</button>
        </div>
    </div>
</div>