<acrylic-header></acrylic-header>

<section class="auth-section d-flex-center">
  <div class="container py-5 h-100">
    <div class="row d-flex-center h-100 w-75 mx-auto w-mobile-100">
      <div class="col col-xl-12">
        <div class="row g-0 bg-primary overflow-hidden mb-4">
          <div class="col-md-5 d-none d-md-block">
            <div id="auth-carousel" class="carousel slide h-100">
              <div class="carousel-indicators z-3 pb-3">
                <button type="button" data-bs-target="#auth-carousel" data-bs-slide-to="0"
                  class="active flex-grow-1 h-8"></button>
                <button type="button" data-bs-target="#auth-carousel" data-bs-slide-to="1"
                  class="flex-grow-1 h-8"></button>
                <button type="button" data-bs-target="#auth-carousel" data-bs-slide-to="2"
                  class="flex-grow-1 h-8"></button>
                <button type="button" data-bs-target="#auth-carousel" data-bs-slide-to="3"
                  class="flex-grow-1 h-8"></button>
              </div>
              <div class="carousel-inner h-100">
                <div class="carousel-item h-100 active">
                  <div class="position-relative h-100">
                    <img src="assets/images/carousel/carousel-1.jpg" alt="slider" class="slider w-100"
                      fetchpriority="high" />
                    <div class="position-absolute top-0 start-0 h-100 w-100 bg-auth-gradiant"></div>
                  </div>
                  <div class="carousel-caption d-none d-md-block z-2 text-start">
                    <span class="auth-tagline fs-5 mb-1">1 Acrylic is for YOU</span>
                    <span class="fs-5">🦎</span>
                    <div class="small">We're here to demystify the world of "sync" and set you up to make passive money from your
                      music rights and your engaged fanbase. You'll see, it's fast and easy!🦎</div>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <div class="position-relative h-100">
                    <img src="assets/images/carousel/carousel-2.jpg" alt="slider" class="slider w-100"
                      fetchpriority="high" />
                    <div class="position-absolute top-0 start-0 h-100 w-100 bg-auth-gradiant"></div>
                  </div>
                  <div class="carousel-caption d-none d-md-block z-2 text-start">
                    <span class="auth-tagline fs-5 mb-1">2 Did you know?!</span>
                    <span class="fs-5">🦎</span>
                    <div class="small">Your SYNC revenue is additional to your streaming revenue. Join the KAMunity to
                      check the Q&A, ask questions, and get more verifiable tips from knowledgeable music industry
                      people. It's a free and safe community! Join here.🦎</div>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <div class="position-relative h-100">
                    <img src="assets/images/carousel/carousel-3.jpg" alt="slider" class="slider w-100"
                      fetchpriority="high" />
                    <div class="position-absolute top-0 start-0 h-100 w-100 bg-auth-gradiant"></div>
                  </div>
                  <div class="carousel-caption d-none d-md-block z-2 text-start">
                    <span class="auth-tagline fs-5 mb-1">3 More streams AND more exposure...from SYNC!?</span>
                    <span class="fs-5">🦎</span>
                    <div class="small">SYNC allows someone to pay YOU so they can put your music in their video. People who
                      see that video will discover your music, and many will find you on streaming services (and become
                      fans!). SYNC gives you the exposure to help grow your career🦎</div>
                  </div>
                </div>
                <div class="carousel-item h-100">
                  <div class="position-relative h-100">
                    <img src="assets/images/carousel/carousel-4.jpg" alt="slider" class="slider w-100"
                      fetchpriority="high" />
                    <div class="position-absolute top-0 start-0 h-100 w-100 bg-auth-gradiant"></div>
                  </div>
                  <div class="carousel-caption d-none d-md-block z-2 text-start">
                    <span class="auth-tagline fs-5 mb-1">4 Split sheets... whaaaaa?!</span>
                    <span class="fs-5">🦎</span>
                    <div class="small">Acrylic has a FREE split sheet signing tool! Whenever you're going into a music
                      writing or recording session, log into your account and create your split sheet super fast...one
                      less thing to worry about!🦎</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-12">
            <div class="h-100 text-center d-flex-center">
              <div class="p-4 w-100 auth-h-auto">
                <router-outlet />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>