$error-gradient: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%);
$error-gradient-shadow: linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%);
$error-colors: linear-gradient(to right, #EBA452, #EE593B);

.error-container {
    font-size: 106px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;

    > span {
        display: inline-block;
        position: relative;

        &.four, &.zero {
            border-radius: 999px;
            background: $error-gradient, $error-gradient-shadow, $error-colors;

            &:before, &:after {
                content: '';
                position: absolute;
                border-radius: 999px;
            }
        }

        &.four {
            width: 136px;
            height: 43px;

            &:before {
                width: 43px;
                height: 156px;
                left: 60px;
                bottom: -43px;
                background: $error-gradient, $error-gradient-shadow, $error-colors;
            }

            &:after {
                width: 137px;
                height: 43px;
                transform: rotate(-49.5deg);
                left: -18px;
                bottom: 36px;
                background: $error-gradient, $error-gradient-shadow, $error-colors;
            }
        }

        &.zero {
            vertical-align: text-top;
            width: 156px;
            height: 156px;
            overflow: hidden;
            animation: bgshadow 3s infinite;

            &:before {
                content: '';
                display: block;
                position: absolute;
                transform: rotate(45deg);
                width: 90px;
                height: 90px;
                background-color: transparent;
                left: 0px;
                bottom: 0px;
                background: $error-gradient, $error-gradient-shadow, $error-colors;
            }

            &:after {
                content: '';
                position: absolute;
                border-radius: 999px;
                width: 70px;
                height: 70px;
                left: 43px;
                bottom: 43px;
                background: #000000;
                box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.screen-reader-text {
    position: absolute;
    top: -9999em;
    left: -9999em;
}

@keyframes bgshadow {
    0% {
        box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
    }

    45%, 55% {
        box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    100% {
        box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
    }
}